<?xml version="1.0" encoding="utf-8" ?>

<log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="log.txt" />
        <countDirection value="1" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="10MB" />
        <rollingStyle value="Size" />
        <staticLogFileName value="false" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss,fff} [%thread] %-5level %logger{2} - %message%newline" />
        </layout>
    </appender>
  <root>
        <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
        <level value="DEBUG" />
        <appender-ref ref="RollingLogFileAppender" />
  </root>   
</log4net>

