.success {
    color: #468847;
}

.error {
    color: #B94A48;
}

.warning {
    color: #C09853;
}

#game-board {
    width: 100%;
    table-layout: fixed;
}

#game-board button {
    width: 100%;
    font-size: 100%
}